<this is a form for submitting photos>
<%= form_with(model: [@gallery, photo]) do |form| %>

  <shows error if any exists for the photo>
  <% if photo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
        <% photo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <below is the various fields for the form, being caption and image>
  <div>
    <%= form.label :caption, style: "display: block" %>
    <%= form.text_field :caption %>
  </div>
  
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
